.padding-aside{
    padding:0 12%;
}
.border-bottom{
    border-bottom: 1px solid #e6e6e6;
}
.green{
    color:#5aa816;
}
.blue{
    color:#47a8de;
}



/* 登陆页面 */
.loginBox .el-form-item__content{
    margin: 0 !important;
}
.loginBox .el-form-item__content .el-input__inner{
    /* height: 56px; */
}
.loginBox .el-button{
    width: 100%;
    /* font-size: 20px; */
    /* padding: 18px 20px; */
}



.el-main{
    padding:0;
}

.el-header {
    height:48px !important;
    background-color: #47a8de;
    padding:0;
}

.searchBox{
    float:right;
    width: 240px;
  }
.searchBox .el-input__inner{
    height:36px;
    font-size: 12px;
}
.searchBox .el-input-group__append{
    background-color: #47a8de;
    color:#fff;
    border-top: 1px solid #47a8de;
    border-bottom: 1px solid #47a8de;
}

/* 列表头部选择状态栏样式修改 */
.list{
    background: #fff;
  }
.listHeader .el-select{
    width: 85px;
}
.listHeader .el-input__suffix{
    right:0;
}
.listHeader .el-input--suffix .el-input__inner{
    padding: 0;
    border: none;
}
.listHeader .el-input--suffix .el-input__inner::placeholder{
    color:#444;
}
.listHeader .el-select .el-input .el-select__caret{
    color: #444;
}
.popper__arrow{
    left:110% !important;
}

.listContent li .lc-handle .el-button{
    width: 64px;
    height: 32px;
    padding:0;
}

/* 新增板块头部 */
.addHeader-title{
    padding: 32px 0 16px 0;
    font-size: 18px;
    color: #333; 
}
.addHeader .el-col-15,.addHeader .el-col-9,.addHeader .el-input__inner{
    background-color: #f0f0f0;
}
.addHeader .el-input__inner{
    height: 56px;
    border: none;
}
.addHeader .el-input__inner::placeholder{
    font-size: 18px;
    color:#999;
}